<!DOCTYPE html>
<html>
  <%include header.ejs%>
  <body>
    <%include navbar.ejs%>
    <!--页面主体-->
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
            content here
        </div>
      </div>
    </div>
    <%include footer.ejs%>
  </body>
</html>
